@charset "utf-8";
/* 
 * Page name
 * Copyright 2023
 * Author
 * Licensed
 */
/* ----------------------------- *\
    Content
\* ----------------------------- */
/**
 * Content.......................You are reading it!
 * Globel .......................Set common styles
 * Layout .......................Set grid styles
 * Component ....................Set component styles
 */

/* ----------------------------- *\
    Globel
\* ----------------------------- */
*{
    box-sizing: border-box;
    position: relative;
}
html,body{
    width: 100%;
    background: #0c111b;
    position: relative;
    font-family: '微軟正黑體', arial;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

p{
    color: #fff;
}

ul{
    margin: 0;
    padding: 0;
    /* 列表前的點去除 */
    list-style: none;
}
a{
    text-decoration: none;
    color: unset;
}
a.movie_item:hover{
    color: unset;
}


.btn i,
.btn span{
    z-index: 1;
}

.container{
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar{
    /* border: 1px solid #fff; */
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 2%;
    background: #0c111b;
    z-index: 1000;
    display: flex;
    align-items: center;
}
.navbar .brand,
.footer_content .brand{
    display: inline-block;
    vertical-align: top;
    /* border: 1px solid #000; */
    width: 160px;
    height: 75px;
    background-image: url('../images/Disney+_logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* color: #fff; */
    /* 文字不換行 */
    white-space: nowrap;
    /* 縮格 */
    text-indent: 100%;
    /* 隱藏 */
    overflow: hidden;
}
.navbar_links{
    margin-top: 10px;
    display: flex;
    list-style: none;
}
.navbar .navbar_links .navbar_items:hover{
    color: #d5a26f;
}
.navbar_items a{
    text-decoration: none;
    margin-left: 40px;
    text-transform: capitalize;
    color: #fff;
    opacity: 9;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 28px;
    transition: box-shadow 0.25s;
}
.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search_input {
    font-size: 16px;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: #fff;
    width: 300px;
    /* border-radius: 10px; */

}
.search_input::placeholder{
    color: #0c111b;
}

.hero_slide_item{
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}

.hero_slide_item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.hero_slide_item_content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
}
.item_content_wraper{
    padding-left: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.item_content_wraper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.item_content_title{
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
}
.movie_infos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.movie_info{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}
.movie_info span{
    margin-right: 5px;
}
.movie_info i {
    color: gold;
}
.movie_info ~ .movie_info {
    margin-left: 5px;
}
.item_content_description{
    font-size: 1.15rem;
    margin-top: 20px;
    line-height: 1.5rem;
}
.item_action{
    margin-top: 25px;
}
.carousel_nav_center{
    position: relative;
}
.carousel_nav_center .owl-nav button i {
    font-size: 3rem;
}
.carousel_nav_center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel_nav_center .owl-nav  .owl-prev{
    position: absolute;
    left: 5px;
}
.carousel_nav_center .owl-nav  .owl-next{
    position: absolute;
    right: 5px;
}
.owl-nav button {
    border: none;
    outline: none;
}
.owl-nav button i{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}
.owl-nav button:hover i{
    color: #3794db;
}
.top_down{
    transform: translateY(-50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.delay_2{
    transition-delay: 0.2s;
}
.delay_4{
    transition-delay: 0.4s;
}
.delay_6{
    transition-delay: 0.6s;
}
.delay-8{
    transition-delay: 0.8s;
}
.owl-item.active .top_down{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.movie_item{
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 40%;
    cursor: pointer;
}
.movie_item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s linear;
}
.movie_item:hover img{
    transform: scale(1.2);
}
.movie_item_content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.movie_item_content:before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.movie-item-title{
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
}

.character_section{
    padding-top: 80px;
}

.section_header{
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    border-left: 4px solid #fff;
    display: flex;
    align-items: center;
    color: #fff;
}

.footer_section{
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.social_list{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #fff;
}
.social_item{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #fff;
    color: #3794db;
}
.social_item:hover{
    background-color: #3794db;
    color: #fff;
}
.social_item ~ .social_item{
    margin-left: 20px;
}
footer .footer_content{
    margin-top: 20px;
}
footer a.brand{
    margin-top: -2.5rem;
    display: block;
}
.footer_menu{
    list-style-type: none;
    color: #fff;
}
.footer_menu a{
    display: inline-block;
    padding-top: 10px;
    transition: trasform 0.2s ease-in-out;
}
.footer_menu a:hover{
    transform: translateX(5px);
}

.copyright{
    background-color: rgba(0, 0, 0, 0.8);
    color: #ccc;
    text-align: center;
    line-height: 24px;
    padding: 16px 0;
    font-size: 14px;
}

/* Responsive */
@media screen and (max-width: 1280px){
    html {
        font-size: 14px;
    }
    .hero_slide_item{
        padding-top: 50%;
    }
    .item_content_wraper{
        width: 50%;
    }
}

@media screen and (max-width: 850px){
    .hero_slide_item{
        height: max-content;
        padding-top: unset;
    }
    .item_content_wraper{
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-top: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .hero_slide_item_content{
        position: relative;
    }
    .hero_slide_item img{
        height: 100%;
    }
    .item_content_title{
        font-size: 3rem;
    }
}